<nav>
  <%= link_to "Forms", forms_path %>
  <%= link_to "Sections", sections_path %>
  <%= link_to "Questions", questions_path %>
  <%= link_to "Answers", answers_path %>
  <%= link_to "Responses", responses_path %>
  <%= link_to "Metrics", metrics_path %>
  <%= link_to "Logout", logout_path, data: { "turbo-method": :delete } %>
</nav>

<h1>Your Forms</h1>

<%= link_to "New Form", new_form_path, class: "create-link" %>

<% if @forms.any? %>
  <div class="forms-list">
    <% @forms.each do |form| %>
      <div class="form-item">
        <%= link_to form.name, form_path(form) %>
        <span class="form-meta">
          - <%= pluralize(form.sections.count, 'section') %>
          - <%= pluralize(form.responses.count, 'response') %>
        </span>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No forms yet. Create your first form to get started!</p>
<% end %>