<div class="container">
  <nav class="main-nav">
    <%= link_to "Forms", forms_path %>
    <%= link_to "Sections", sections_path %>
    <%= link_to "Questions", questions_path %>
    <%= link_to "Answers", answers_path %>
    <%= link_to "Responses", responses_path %>
    <%= link_to "Metrics", metrics_path %>
    <%= link_to "Dashboards", dashboards_path %>
    <%= link_to "Logout", logout_path, data: { "turbo-method": :delete } %>
  </nav>

  <h1>New Form</h1>

  <%= link_to "â† Back to Forms", forms_path(namespace: params[:namespace]), class: "back-link" %>

  <div class="card">
    <%= form_with model: @form, local: true, data: { turbo: false } do |form| %>
      <% if @form.errors.any? %>
        <div class="error-messages">
          <h4><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h4>
          <ul>
            <% @form.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, required: true %>
      </div>
      
      <%= render 'shared/namespace_field', form: form %>

      <div class="actions">
        <%= form.submit "Create Form" %>
      </div>
    <% end %>
  </div>
</div>